@model IEnumerable<BlogApp.Models.Blog>

@{
    ViewBag.Title = "Blog Listesi";
}

<h2>Blog Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Yeni Blog Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>

@if (TempData["Blog"] != null)
{
    var blog = (BlogApp.Models.Blog)TempData["Blog"];
    <div class="alert alert-success" role="alert">
        <strong><span class="glyphicon glyphicon-ok"></span>@blog.Title</strong> güncellendi!
    </div>
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInHomePage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th style="width:170px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @if (item.IsPublish == true)
                {
                    <label class="label label-success">Onaylı</label>
                }
                else
                {
                    <label class="label label-danger">Onay Bekliyor</label>
                }

            </td>
            <td>
                @if (item.IsInHomePage == true)
                {
                    <label class="label label-success">Anasayfa</label>
                }
                else
                {
                    <label class="label label-danger">Anasayfa Değil</label>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
